<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
</head>
<body>
    <form th:action="@{/blog/update_cate}" method="post" th:object="${category}">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{categoryId}" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{categoryName}" /></td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset"></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</body>
</html>