<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
</head>
<body>
    <h1>List product</h1>
    <form th:action="@{/product/search}" method="get">
        <label for="name">Name</label>
        <input type="text" id="name" name="product_name" />
        <br/>
        <input type="submit" value="Search" />
    </form>
    <div th:text="${#locale.setDefault('vn')}"></div>
    <form th:action="@{/product/list_paging}" method="get" id="changePageSize">
        <input type="hidden" name="page" th:value="${products.getNumber() + 1}">
        <select name="pageSize" onchange="loadPage();">
            <option value="5">5</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>DateRelease</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        <tr th:each="p: ${products}" th:object="${p}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{category.categoryName}"></td>
            <td th:text="*{#numbers.formatCurrency(price)}"></td>
            <td th:text="*{#dates.format(dateRelease, 'dd/MM/yyyy')}"></td>
            <td th:text="*{quantity}"></td>
            <td>
                <a th:href="@{/product/detail/{id}(id=*{id})}">Detail</a>
                <a th:href="@{/product/update(id=*{id})}">Update</a>
            </td>
        </tr>
    </table>
    <div>
        <span th:each="i : ${pageNumbers}">
        <a th:text="${i}" th:if="${i != products.getNumber() + 1}"
           th:href="@{/product/list_paging(page=${i},pageSize=${pageSize})}"></a>
        <span th:if="${i == products.getNumber() + 1}" th:text="${i}"></span>
        </span>
    </div>
    <script>
        function loadPage() {
            document.getElementById("changePageSize").submit();
        }
    </script>
</body>
</html>